<header class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="scroll-text-effect">
          <h1>Hello, my name is Andrew McCarthy</h1>
          <p>I am a web developer</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="secondary">
  <div class="container-fluid">
    <main>
      <div class="row">
        <section>
          <div class="col-lg-7">
            <article>
              <h2 class="sub-header">Developer since 2018</h2>
              <p>I've taken an unorthdox path to get to where I am. In the summer of 2018, I attended <a
                  [href]="techElevatorUrl" target="_blank">Tech Elevator</a> as a student in their C# class at that
                time. I learned so much in those short 14 weeks, gaining the ability and know-how to create web
                applications from the ground up. Since entering the workforce, I have strived to create beuatiful and
                streamlined user interfaces in a handful of technologies.</p>
            </article>
          </div>
        </section>
      </div>
      <section>
        <article>
          <h2 class="sub-header">Sub header</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel ex sit amet velit condimentum lobortis.
            Vivamus sed nisl et lectus fermentum cursus. Proin velit nibh, venenatis et viverra non, viverra finibus ex.
            Cras dictum dui arcu, non viverra orci commodo vitae. Sed posuere mi ligula, at aliquet tortor viverra
            vitae. Praesent consequat sem dui, id dignissim eros elementum quis. In varius, quam sit amet aliquet
            dignissim, nisi urna vulputate nisi, ut vestibulum felis velit et massa. Pellentesque sodales, nisl suscipit
            laoreet tincidunt, lectus diam tempor erat, quis placerat mauris magna at neque. Curabitur rutrum
            scelerisque placerat. Vestibulum eleifend nunc vel nisi consequat, vel suscipit tellus sodales.</p>
        </article>
      </section>
    </main>
  </div>
  <footer>
    <div class="container">
      <p>contact info</p>
    </div>
  </footer>
</div>