<header class="main">
  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <div id="scroll-text-effect">
          <h1>Andrew McCarthy</h1>
          <p>Web developer striving to create beautiful and usable websites and applications</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="secondary pb-4">
  <div class="container-fluid px-5">
    <main>
      <section id="experience" class="pt-lg-5">
        <div class="row border-bottom border-dark">
          <div class="col-lg-7 order-last order-lg-first border-right border-dark">
            <article class="my-5">
              <h2 class="sub-header pb-3"><em>Writing code since 2018</em></h2>
              <p>I've taken an unorthodox path to ultimately be a developer. In the summer of 2018, I attended <a
                  [href]="techElevatorUrl" target="_blank">Tech Elevator's</a> C# cohort. I
                learned so much in those short 14 weeks, gaining the ability and know-how to create web
                applications from the ground up. Since entering the workforce, I have strived to create beautiful and
                streamlined user interfaces in a handful of technologies.</p>
              <p><b>Angular | HTML | SCSS | Bootstrap | TypeScript | NGXS | JavaScript | C# | .NET Core | MediatR |
                  Git</b></p>
            </article>
          </div>
          <div class="col-lg-5 my-auto order-first order-lg-last text-center">
            <img class="img-fluid-cust circle box-shadow" src="../../../assets/img/DSC_0496_sq.jpg">
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col">
            <article>
              <div class="row border-bottom border-dark">
                <div class="col-lg-5 p-3 my-auto text-center">
                  <img class="img-fluid-cust box-shadow" src="../../../assets/img/transend_collage.jpg">
                </div>
                <div class="col-lg-7 py-5 border-left border-dark">
                  <p>
                    <a [href]="transendUrl">transend&trade;</a> is primarily a business to business e-commerce platform,
                    owned by Transtar Industries. Launched in October of 2018, its primary function is to facilitate
                    the sales of transmission parts at a wholesale scale. <a [href]="transendUrl">transend&trade;</a>
                    provides vehicle search options like VIN, lisence plate, and year/make/model to then give the user a
                    curated matching list of available products for that vehicle. Administrative tools are also provided
                    for the user, such as: Invoice search and pay, order history, and account user control.
                    The front end was created in Angular, and the API's are in C#.
                  </p>
                  <p>
                    My role in this application was the creation and support of front end features, as well as creating
                    API calls as they were needed. Other work involved the creation and support of an in-house
                    administrative app to support public facing app.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section id="contact" class="pt-5">
        <div class="row">
          <div class="col-lg-5">
            <p class="h6">
              Want to talk about anything and everything? Send me an email!
            </p>
            <p class="text-muted"><small>I am using mailthis.to as my email client. On success, it will automatically
                redirect you to a 'success' page from mailthis.to.</small></p>
            <contact-form></contact-form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 text-center mx-auto mt-5">
            <p>other ways to find me</p>
            <div class="row">
              <div class="col text-center">
                <a href="https://www.linkedin.com/in/andrew-patrick-mccarthy/"><i
                    class="fab fa-linkedin-in fa-3x"></i></a>
              </div>
              <div class="col text-center">
                <a href="https://github.com/andrewmcc1120"><i class="fab fa-github fa-3x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>