.main {
  background: #FCF0DD url("../../../assets/img/lake_mountain.svg") no-repeat;
  background-position: center;
  background-size: 100%;
  height: 105vh;
  overflow: visible;

  .container {
    text-align: center;
    height: 100%;
    padding-top: 12em;

    h1 {
      font-weight: 700;
    }

    p {
      font-size: 2em;
      font-weight: 400;
    }
  }
}

.secondary {
  padding-top: 4em;
  background-color: #FCF0DD;

  .sub-header {
    font-weight: 700;
    font-size: 24px;
  }
}

@media screen and(max-width: 800px) {
  .main {
    height: 95vh;
    background: #FCF0DD url("../../../assets/img/lake_mountain.svg") no-repeat;
    background-position: center bottom;
    background-size: 130%;
  }
}
