<header class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="scroll-text-effect">
          <h1>Hello, my name is Andrew McCarthy</h1>
          <p>I'm a web developer</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="secondary">
  <div class="container-fluid px-5">
    <main>
      <section>
        <div class="row pt-lg-5">
          <div class="col-lg-7 order-last order-lg-first">
            <article class="mt-5em">
              <h2 class="sub-header pb-3"><em>Writing code since 2018</em></h2>
              <p>I've taken an unorthdox path to ultimately be a developer. In the summer of 2018, I attended <a
                  [href]="techElevatorUrl" target="_blank">Tech Elevator's</a> C# cohort and immediately knew . I
                learned so much in those short 14 weeks, gaining the ability and know-how to create web
                applications from the ground up. Since entering the workforce, I have strived to create beautiful and
                streamlined user interfaces in a handful of technologies.</p>
              <p>Angular | HTML | SCSS | Bootstrap | TypeScrpit | NGXS | JavaScript | C# | .NET Core | MediatR | Git</p>
            </article>
          </div>
          <div class="col-lg-5 order-first order-lg-last text-center">
            <img class="img-fluid-cust mt-5 circle box-shadow" src="../../../assets/img/DSC_0496_sq.jpg">
          </div>
        </div>
      </section>
      <section>
        <div class="row pt-5">
          <div class="col">
            <article class="mt-5em">
              <h2 class="sub-header">My professional projects</h2>
              <p></p>
            </article>
          </div>
        </div>
      </section>
    </main>
  </div>
  <footer>
    <div class="container">
      <p>contact info</p>
    </div>
  </footer>
</div>