// TYPOGRAPHY
$main-font-family: 'Montserrat', sans-serif;

// COLORS 
$main-color-dark: #332D3F;
$main-color-light: #fcf0dd;
$secondary-color-dark: #7F8CA3;

// SIZES
$tablet-breakpoint: 800px;
$mobile-breakpoint: 500px;