@import '~bootstrap/dist/css/bootstrap.min.css';
@import './styles_variables.scss';

* {
  font-family: $main-font-family;
}

body {
  margin: 0;
  color: $main-color-dark;
  font-size: 18px;
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 4px 4px 20px 4px rgba($color: $main-color-dark, $alpha: .4);
}